{% extends 'base.html' %}

{% block content %}
    <div>
  
  
      <div id="reports-analysis" class="tabcontent" style="margin: 0 0px 0 7px;">
        <div class="main-container">
            <div class="reports-container">
              <div class="reports-content">
              <h1>59</h1>
              <p>Number of Product</br>
                Images Uploaded</p>
              </div>
              <div class="reports-content">
                <h1>7</h1>
                <p>Number of Category</br>
                  Images Uploaded</p>
                </div>
                <div class="reports-content">
                  <h1>345<span>MB/1GB</span></h1>
                  <p>
                    File Storage Used</br>
                    in Account</p>
                  </div>
          </div>
          </div>
      </div>
    </div>
    <script>

    </script>

{% endblock %}